body {
	margin: 0px;
}

.text-right {
	text-align: right;
}
/*
text-align => 文字對齊方式
center:置中
right:向右
*/


.content {
	width: 980px;
	margin-left: auto;
	margin-right: auto;
}

#header{
	margin: 0px;
	height: 80px;
	background-color: #525050;
}

#header > .content {
	display: flex;
}

.header-logo{
	color: #FFF;
	letter-spacing:5px;
	font-size: 20px;
}

#header nav{
	display: flex;
	flex: 1;
	/*設定flex子項在flex容器的當前行的側軸（縱軸）方向上的對齊方式*/
	justify-content: space-between;
	align-items: center;
	/*align-items 決定了內容元素與整個 Flexbox 的「垂直對齊」位置
	center：垂直置中*/
	font-size: 15px;
	margin-left: 80px;
	margin-right: 100px;
}
/*	justify-content搭配display:flex使用
	jusitfy-content決定了內容元素與整個 Flexbox 的「水平對齊」位置
	flex-start：預設值，對齊最左邊的 main start（對齊行頭）
	flex-end：對齊最左邊的 main end（對齊行尾）
	center：水平置中
	space-between：平均分配內容元素，左右元素將會與 main start 和 main end 貼齊
	space-around：平均分配內容元素，間距也是平均分配
*/

#header nav a {
	color: #FFF;
	text-decoration: none;
	/*移除超連結的底線*/
}

.shopicon{
	height: 36px;
	margin-top:20px;
}

#body{
	width: 100%;
	margin: 0px;
	padding: 0px;
}

.model-bg {
	height: 640px;
	background: url('model_bg.JPG');
	background-size: cover;
	/*cover:會保持圖像的縱橫比並將圖像縮放成將完全覆蓋背景定位區域的最小大小。*/
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 980px;
	/*最小寬度*/
}

.model-bg .content-top {
	background: rgba(255, 255, 255, 0.7);
	text-align: center;
	width: 480px;
	padding-bottom: 30px;
	margin-top: 100px;
}

.model-bg .content-top h1 {
	font-size: 52px;
	margin-bottom: 20px;
}

.model-bg .content-top button {
	background: #000;
	color: #FFF;
	width: 200px;
	padding-top: 8px;
	padding-bottom: 8px;
	font-size: 20px;
}

.fontfamily {
	text-align: center;
	line-height:20px;
	background-color:#EEE;
	letter-spacing:3px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 0;
}

.content-b {
	padding-bottom: 100px;
}

.b-type{
	margin: 60px 0px;
	padding: 0;
	text-align: center;
	letter-spacing: 3px;
}

.b-imgs {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.b-imgs .b-img {
	flex: 1;
}

.b-imgs .b-img + .b-img {
	margin-left: 10px;
}

.b-imgs .b-img img {
	width: 100%;
	height: auto;
}

#footer {
	height: 280px;
	background-color: #525050;
	color: #FFF;
	padding-top: 50px;
}

#footer > .content {
	display: flex;
	justify-content: space-between;
}
	
#footer .footer-section {
	flex: 1;
	box-sizing: border-box;
	/*讓BOX佔據框框的指定大小*/
}

#footer .footer-section + .footer-section {
	margin-left: 10px;
}

#footer .footer-section #footer-socials {
	padding-left: 30px;
}

#footer .footer-section #footer-email input {
	display: block;
	width: 100%;
	box-sizing: border-box;
	padding: 5px 3px;
	background: transparent;
	border: 1px solid #FFF;
	color: #FFF;
}

#footer .footer-section #footer-contact {
	padding-right: 30px;
	text-align: center;
}

#footer #footer-copyright {
	margin-top: 50px;
	text-align: center;
}